.about{
  background-image:url(../assets/welcome/about.png);
  background-repeat: no-repeat;
  background-position:center;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:10%;
}
.enjoy{
  background-image:url(../assets/welcome/enjoy.png);
  background-repeat: no-repeat;
  background-position:center;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:5%;
}
.emergency{
  background-image:url(../assets/welcome/emergency.png);
  background-repeat: no-repeat;
  background-position:center;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:10%;
}
.logo{
  background-image:url(../assets/welcome/logo.png);
  background-repeat: no-repeat;
  background-position:center;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:10%;
}

.cool-font{
  font-size: 1441px;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #0BFF5B;
}

logo {
  display: none;
}
